// global style guide
@use "sass:map";

.sidebar-container {
  background-color: map.get($theme-colors, "white-f1");
  height: 100vh;
  padding: 8px;

  .sidebar-header {
    & .ant-input-affix-wrapper {
      border-radius: 8px;
      background-color: map.get($theme-colors, "gray-dd");

      & > * {
        background-color: map.get($theme-colors, "gray-dd");
      }
    }

    & .sidebar-icon-container {
      @include set-display-flex(center, end);

      & .sidebar-header-icons {
        @include set-display-flex(center, space-around);
        margin-bottom: 20px;

        & Button {
          padding: 4px;
          font-size: 16px;
          margin: 0;
          background-color: transparent;
        }

        & .dropdown-button {
          border-radius: 8px;
          @include set-display-flex(center, space-around);
          border: 1px solid map.get($theme-colors, "black-alhpa-56");
          background-color: map.get($theme-colors, "gray-dd");
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
          font-size: 10px;
          margin: 0;
        }
      }
    }

    & .setting-preicon {
      width: 100%;
      justify-content: flex-end;

      & > Button {
        padding-right: 0;

        &:hover,
        &:focus {
          color: map.get($theme-colors, "primary-text-00");
          background-color: transparent;
        }
      }
    }

    & .filter-button {
      border-radius: "10px";
      padding-right: 0;
      margin-right: 0;

      &:hover,
      &:focus {
        color: map.get($theme-colors, "primary-text-00");
        background-color: transparent;
      }
    }
  }

  & .online-users {
    width: 100%;
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 3px;
      display: none;
    }

    & .online-user-group {
      gap: 10px;

      & .online-user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
      }
    }
  }

  & .sidebar-card-container {
    height: 95%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: map.get($theme-colors, "gray-text-c4");
    }

    & .sidebar-cards {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 200px;

      & .focushed {
        border: 1px solid #017606;
      }

      & .sidebar-card {
        background-color: map.get($theme-colors, "white-fa");
        width: 100%;
        border-radius: 8px;

        &:focus-within {
          border: 1px solid map.get($theme-colors, "green-017");
        }

        & .unread-card {
          color: map.get($theme-colors, "black");
        }

        & .read-card {
          color: map.get($theme-colors, "gray-text-7c");
        }

        & .ant-card-body {
          padding: 10px;
        }

        & .sidebar-car-message {
          font-size: 14px;
          font-weight: 600;
          @include set-line-clamp(1);
        }

        & .card-message-count {
          font-size: 12px;
          display: inline-block;
          padding: 2px 8px;
          border-radius: 50%;
          background-color: map.get($theme-colors, "orange-text-ff");
          color: map.get($theme-colors, "white");
        }

        & .sidebar-card-img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

.sidebar-user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.sidebar-user-name {
  font-size: 20px;
  font-weight: 600;
}

.ant-popover-inner {
  border-radius: 10px;
  background-color: map.get($theme-colors, "white-f4");
}
.ant-popover-arrow {
  display: none;
}
.ant-popover-content {
  @include set-display-flex(center, center, 10, column);
}

.ant-dropdown-menu {
  border-radius: 18px;

  & .ant-dropdown-menu-item {
    background-color: transparent;

    & .ant-btn-link {
      color: map.get($theme-colors, "black");

      &:hover,
      &:focus,
      &:active {
        color: map.get($theme-colors, "primary-text-00");
      }
    }

    &:hover {
      background-color: transparent;
    }
  }
}
