// global style guide
@use "sass:map";
.chatting-home {
  height: 100%;
  position: relative;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: map.get($theme-colors, "gray-text-c4");
  }

  & .sayhi-card {
    width: 300px;
    height: 180px;
    background-color: map.get($theme-colors, "white-f1");
    margin: 20px auto;
    border-radius: 12px;
    @include set-display-flex(center, space-around, 0, column);

    & .sayhi-emoji {
      width: 50px;
      height: 50px;
    }

    & .sayhi-btn {
      width: 150px;
    }
  }

  & .chatting-content {
    width: 100%;
    @include set-display-flex(flex-start, flex-end, 32px, column);
    height: 100%;
    min-height: 82vh;

    & .all-messages-content {
      @include set-display-flex(flex-start, flex-end, 32px, column);
      width: 100%;
      margin-bottom: 20px;
      display: block;
      height: 100%;
      padding: 16px 64px;

      & .chatting-date {
        justify-content: center;
        padding: 30px 20px;
        color: map.get($theme-colors, "gray-text-71");
        font-size: 14px;
        text-align: center;
      }

      & .message-list {
        @include set-display-flex(flex-start, flex-end, 20px, column);
        width: 100%;
      }
    }

    & .message-choose-card {
      width: 80%;
      margin: 20px auto;
      background-color: map.get($theme-colors, "gray-e4");
      border-radius: 8px;
      padding: 8px;
      text-align: center;

      & .message-choose-text {
        font-size: 20px;
        font-weight: 500;
      }

      & .message-choose-buttons {
        @include set-display-flex(center, center, 20px);
        margin: 20px auto;

        & > Button {
          border-radius: 4px;
          padding: 2px 30px;
          font-size: 18px;
        }
      }
    }
  }
}

.chatting-bottom {
  position: relative;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 1000;
  background-color: map.get($theme-colors, "white");
  .user-typing {
    @include set-display-flex(center, flex-start, 12px);
    margin-left: 88px;

    & .user-typing-img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    & .typing {
      @include set-display-flex(center, center);

      & .circle {
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #8d8d8d;
        margin: 3px;
        animation: typing 1500ms ease-in-out infinite;
        animation-delay: 4500ms;

        &:nth-child(1) {
          animation-delay: 0ms;
        }

        &:nth-child(2) {
          animation-delay: 333ms;
        }

        &:nth-child(3) {
          animation-delay: 666ms;
        }

        &:nth-child(4) {
          animation-delay: 999ms;
        }

        &:nth-child(5) {
          animation-delay: 1332ms;
        }
      }
    }
  }

  .message-input-container {
    @include set-display-flex(center, flex-start, 0.5rem);

    & .ant-input {
      border-radius: 22px;
      height: 44px;
    }
  }
}

@keyframes typing {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
