// global style guide
@use "sass:map";
.chatting-home {
  height: 100vh;
  overflow: hidden;

  & .chatting-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    height: 80vh;

    & .all-messages-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 20px;
      display: block;
      overflow-y: auto;
      height: 100%;
      padding: 16px 64px;
      column-gap: 32px;

      & .chatting-date {
        justify-content: center;

        & .chatting-date-card {
          border: 1px solid map.get($theme-colors, "gray-text-71");
          color: map.get($theme-colors, "gray-text-71");
          font-size: 14px;
          padding: 6px 20px;
          text-align: center;
          border-radius: 18px;
          margin: 30px auto;
        }
      }

      & .message-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 20px;
      }
    }
  }
}

.chatting-bottom {
  // position: fixed;
  // width: 90%;
  // bottom: 0;
  // margin-bottom: 30px;

  .user-typing {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 88px;

    & .user-typing-img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    & .typing {
      display: flex;
      justify-content: center;
      align-items: center;

      & .circle {
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #8d8d8d;
        margin: 3px;
        animation: typing 1500ms ease-in-out infinite;
        animation-delay: 4500ms;

        &:nth-child(1) {
          animation-delay: 0ms;
        }

        &:nth-child(2) {
          animation-delay: 333ms;
        }

        &:nth-child(3) {
          animation-delay: 666ms;
        }

        &:nth-child(4) {
          animation-delay: 999ms;
        }

        &:nth-child(5) {
          animation-delay: 1332ms;
        }
      }
    }
  }

  .message-input-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    & .ant-input {
      border-radius: 22px;
      height: 44px;
      // width: 70%;
    }

    & .chat-input-icons {
      display: flex;
      justify-content: space-around;
    }
  }
}

@keyframes typing {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
