// global style guide

@use "sass:map";

// set the line-clamp with the params passed to it
@mixin set-line-clamp($clamp){
  -webkit-line-clamp: $clamp;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

// set display to flex with the params passed to it
@mixin set-display-flex($align, $justify, $gap: 0, $direction: row){
  display: flex;
  justify-content: $justify;
  align-items: $align;

  @if $gap != 0 {
    gap: $gap;
  }

  @if $direction != row {
    flex-direction: $direction
  }

}


body {
  font-family: map.get($theme-fonts, "primary");
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: map.get($theme-colors, "black");

  @include media("<=tablet") {
    font-size: 14px;
    line-height: 20px;
  }

  strong,
  b {
    font-weight: 700;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
h1,h2,h3,h4,h5,h6, p {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

h1 {
  font-family: map.get($theme-fonts, "primary");
  font-size: 32px;
  line-height: 44px;
  font-weight: 900;
  color: map.get($theme-colors, "black");

  
  @include media("<=tablet") {
    font-size: 24px;
    line-height: 34px;
  }
}

h2 {
  font-family: map.get($theme-fonts, "primary");
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: map.get($theme-colors, "black");
  
  &.title-lg {
    font-size: 36px;
    line-height:48px;
  }
  
  &.section-title {
    color: map.get($theme-colors, "primary")
  }
  &.secondary-font{
    font-family: map.get($theme-fonts, "secondary");
    line-height: 28px
  } 
  &.font-normal {
    font-weight: 400;
  }
  
  @include media("<=tablet") {
    font-size: 20px;
    line-height: 28px;
  }
  
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-family: map.get($theme-fonts, "primary");
  font-weight: 700;
  color: map.get($theme-colors, "black");
  
  
  &.section-title {
    color: map.get($theme-colors, "primary");
  }
  
  @include media("<=tablet") {
    font-size: 18px;
    line-height: 24px;
  }
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-family: map.get($theme-fonts, "primary");
  font-weight: 600;
  color: map.get($theme-colors, "black");
  
  &.author-title {
    color: map.get($theme-colors, "primary");
  }
  
}
.font-bold {
  font-weight: 700;
}

.primary-color {
  color: map.get($theme-colors, "primary");
}

.body-text-1 {
  font-size: 14px;
  line-height:20px;
  font-family: map.get($theme-fonts, "primary");
  font-weight:400;
  color: map.get($theme-colors, "black");
  
  &.text-gray-alpha-39 {
    color: map.get($theme-colors, "gray-alhpa-39");
  }
  
}


.caption {
  font-size: 14px;
  line-height:16px;
  font-weight: 500;
  color: map.get($theme-colors, "black");
  font-family: map.get($theme-fonts, "secondary");
  
  &.as-option {
    font-weight: 400;
  }
  
}

.body-text-2 {
  font-size: 12px;
  line-height:18px;
  font-family: map.get($theme-fonts, "primary");
  font-weight:400;
  color: map.get($theme-colors, "black");
}

.form-label {
  font-size: 20px;
  font-weight: 400;
  line-height:28px;
  color: map.get($theme-colors, "gray-text-60");
  
  @include media("<=tablet") {
    font-size: 16px;
    line-height: 24px;
  }
}

.btn-theme-primary {
  display: inline-block;
  padding: 8px 42px;
  border-radius: 20px;
  transition: all ease 0.25s;
  
  &.medium-size {
    padding: 12px 48px;
    border-radius: 30px;
  }
  
  &.filled-btn {
    color: map.get($theme-colors, "white");
    border: 1px solid map.get($theme-colors, "primary");
    background-color: map.get($theme-colors, "primary");
    
    &:hover {
      color: map.get($theme-colors, "primary");
      background-color: map.get($theme-colors, "transparent");
    }
  }
  
  &.outlined-btn {
    color: map.get($theme-colors, "primary");
    background-color: map.get($theme-colors, "transparent");
    border: 1px solid map.get($theme-colors, "primary");
    
    &:hover {
      color: map.get($theme-colors, "black");
      border: 1px solid map.get($theme-colors, "black");
    }
  }
  
}

.btn-theme-primary-fluid {
  @include set-display-flex(center, center);
  padding: 0;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  transition: all ease 0.25s;
  
  &.filled-btn {
    color: map.get($theme-colors, "white");
    border: 1px solid map.get($theme-colors, "primary");
    background-color: map.get($theme-colors, "primary");
    
    &:hover {
      color: map.get($theme-colors, "primary");
      background-color: map.get($theme-colors, "transparent");
    }
  }
  
  &.outlined-btn {
    color: map.get($theme-colors, "primary");
    background-color: map.get($theme-colors, "transparent");
    border: 1px solid map.get($theme-colors, "primary");
    
    &:hover {
      color: map.get($theme-colors, "black");
      border: 1px solid map.get($theme-colors, "black");
    }
  }
  
}

.btn-theme-black-normal {
  display: inline-block;
  padding: 12px 36px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 400;
  color: map.get($theme-colors, "black");
  font-family: map.get($theme-fonts, "secondary");
  border: 1px solid map.get($theme-colors, "black");
  transition: all ease 0.25s;
  background-color: map.get($theme-colors, "transparent");
  
  &:hover {
    color: map.get($theme-colors, "primary");
    border: 1px solid map.get($theme-colors, "primary");
  }
  
  &.outlined-btn {
    color: map.get($theme-colors, "primary");
    border: 1px solid map.get($theme-colors, "primary");
    
    &:hover {
      color: map.get($theme-colors, "black");
      border: 1px solid map.get($theme-colors, "black");
    }
  }
}