@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$nunito: "Nunito", sans-serif;
$roboto: "Roboto", sans-serif;

$theme-fonts: (
  "primary": $nunito,
  "secondary": $roboto,
);
